# Predicting target variables using different models

### Prepare the training set (2022) and test set (2023) using 
https://github.com/sagerpascal/uzh-data-science-project/blob/main/WZ/Q5_datacleaning.ipynb

### Data downloaded from:
https://data.stadt-zuerich.ch/dataset/vbz_fahrgastzahlen_ogd
and
https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd

In [1]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
import csv

In [4]:
trainset = pd.read_csv('data/fahrgastzahlen_2022/cleaned.csv', sep=',')
testset = pd.read_csv('data/fahrgastzahlen_2023/cleaned.csv', sep=',')

,Time,Besetzung,Tage_SA,Tage_SO,Nachtnetz,Tage_SA_N,Tage_SO_N,Occupancy,Freeseats,GPS_Latitude,GPS_Longitude,Weekday,Richtung_1,Richtung_2
0,21.5,3.22000,0,0,0,0,0,0.100625,28.78000,47.394993,8.489565,1,False,True
1,21.5,2.83636,0,0,0,0,0,0.088636,29.16364,47.394993,8.489565,1,False,True
2,22.0,3.10417,0,0,0,0,0,0.097005,28.89583,47.394993,8.489565,1,False,True
3,22.0,3.06897,0,0,0,0,0,0.095905,28.93103,47.394993,8.489565,1,False,True
4,22.5,2.57143,0,0,0,0,0,0.080357,29.42857,47.394993,8.489565,1,False,True

In [ ]:
trainset.head()

In [7]:
testset.head()

,Time,Besetzung,Tage_SA,Tage_SO,Nachtnetz,Tage_SA_N,Tage_SO_N,Occupancy,Freeseats,GPS_Latitude,GPS_Longitude,Weekday,Richtung_1,Richtung_2
0,-0.706504,-1.202642,0,1,0,0,0,-1.444886,0.949112,0.618847,0.40943,0,True,False
1,-0.706504,-1.130109,0,1,0,0,0,-1.359774,0.897121,0.618847,0.40943,0,True,False
2,0.444013,0.833461,0,0,0,0,0,0.105028,1.064387,0.618847,0.40943,1,True,False
3,0.444013,0.990946,0,0,0,0,0,0.314504,0.726541,0.618847,0.40943,1,True,False
4,0.532515,0.940230,0,0,0,0,0,0.186897,0.987856,0.618847,0.40943,1,True,False

In [6]:
# Normalize the values before using as input
from sklearn.preprocessing import StandardScaler

# Fit the scaler on the training set only
scaler = StandardScaler()
columns_to_normalize = ['Time', 'Besetzung', 'Occupancy', 'Freeseats', 'GPS_Latitude', 'GPS_Longitude']
scaler.fit(trainset[columns_to_normalize])

# Transform both training and test sets
trainset[columns_to_normalize] = scaler.transform(trainset[columns_to_normalize])
testset[columns_to_normalize] = scaler.transform(testset[columns_to_normalize])