In [41]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import geopy
from geopy.geocoders import Nominatim
from geopy.geocoders import Photon
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

## LOADING TRAINING AND TESTING DATASETS

Define some useful functions for fetching the datasets.

In [42]:
#function that replaces incorrect characters with the correct utf-8 characters
def correct_misinterpreted_characters(text):
    replacements = {
        "Ã¼": "ü",
        "Ã¶": "ö",
        "Ã¤": "ä",
        "Ã": "Ä"
    }
    for wrong, correct in replacements.items():
        text = text.replace(wrong, correct)
    return text

# Function to correct the misinterpreted characters in the CSV file content
def correct_csv_content(csv_content):
    corrected_content = []
    for row in csv_content:
        corrected_row = [correct_misinterpreted_characters(cell) for cell in row]
        corrected_content.append(corrected_row)
    return corrected_content

In [43]:
#returns the data of a specific year, corrects the encoding of the year 2022 (might be better solutions)
#removes missing data (completely random missing data, ones that fail to evaluate)
def import_data(year, unwanted_columns=[]):
    path = "data\\"+str(year)
    df_reisende = pd.read_csv(path+'\REISENDE.csv',sep=";",encoding = "utf-8")
    df_linie = pd.read_csv(path+'\LINIE.csv',sep=";",encoding = "utf-8")

    #correcting characters on year 2022
    if year == 2022:
        with open(path+'\HALTESTELLEN.csv', 'r', encoding='utf-8') as f:
            csv_content = list(csv.reader(f, delimiter=';'))
            corrected_content = correct_csv_content(csv_content[1:])
            df_haltestellen = pd.DataFrame(corrected_content[1:], columns=csv_content[0])
        df_haltestellen['Haltestellen_Id'] = df_haltestellen['Haltestellen_Id'].astype(int)
    else:
        df_haltestellen = pd.read_csv(path+'\HALTESTELLEN.csv',sep=";",encoding = "utf-8")

    # Merge into one table
    merged_df = df_reisende.merge(df_haltestellen, left_on='Haltestellen_Id', right_on='Haltestellen_Id')
    merged_df = merged_df.merge(df_haltestellen, left_on='Nach_Hst_Id', right_on='Haltestellen_Id', suffixes=('_from','_to'))
    merged_df = merged_df.merge(df_linie[["Linien_Id", "VSYS"]], left_on='Linien_Id', right_on='Linien_Id') #to obtain the vehicle type
    
    #finally drop unwanted columns
    merged_df.dropna(inplace=True)
    if len(unwanted_columns) > 0:
        merged_df.drop(unwanted_columns, axis=1, inplace=True)
    
    return merged_df.dropna(), df_haltestellen, df_linie

#### Let's see the percentage of missing data

In [44]:
for i in range(2015, 2024):
    dftmp=pd.read_csv(f'data/{i}/REISENDE.csv',sep=";",encoding = "utf-8")
    original_size=len(dftmp)
    
    dfnan=dftmp[dftmp.isna().any(axis=1)]
    nan_size=len(dfnan)
    
    print(f'Year {i} with percentage of missing data:{nan_size/original_size*100:.2f}%')

Year 2015 with percentage of missing data:5.42%
Year 2016 with percentage of missing data:5.46%
Year 2017 with percentage of missing data:5.35%
Year 2018 with percentage of missing data:5.22%
Year 2019 with percentage of missing data:5.47%
Year 2020 with percentage of missing data:5.82%
Year 2021 with percentage of missing data:5.02%
Year 2022 with percentage of missing data:5.35%
Year 2023 with percentage of missing data:5.36%

Define unwanted columns for train and test datasets.

In [45]:
unwanted_columns=[
 'Anzahl_Messungen',
 'Aussteiger',
 'Distanz',
 'Einsteiger',
 'Haltestellen_Id_from',
 'Haltestellen_Id_to',
 'Haltestellennummer_from',
 'Haltestellennummer_to',
 'Haltestellenlangname_from',
 'Haltestellenlangname_to',                
 'ID_Abschnitt',
 'Linien_Id',
 'Nach_Hst_Id',
 'Nachtnetz',
 'Plan_Fahrt_Id',
 'Richtung',
 'Sequenz',
 'Tagtyp_Id',
 'Tage_DTV']

Now fetsch the training and testing datasets.

In [46]:
# setting dataset of year 2022 as training set and 2023 as testing set
df_train, stops_train, lines_train=import_data(2022, unwanted_columns)
df_test, stops_test, lines_test=import_data(2023, unwanted_columns)

In [47]:
# find common stops and stops that are added in 2023 using set intersection
set_stop_train=set(stops_train["Haltestellenkurzname"])
set_stop_test=set(stops_test["Haltestellenkurzname"])
                                                                    #to include stops that are added in 2023
common_stops=set_stop_train.intersection(set_stop_test).union(set_stop_test.difference(set_stop_train))

#find common linenames using set intersection
set_lines_train=set(lines_train["Linienname"])
set_lines_test=set(lines_train["Linienname"])
common_lines=set_lines_train.intersection(set_lines_test)

In [48]:
#filter train dataset on...
    #stops
df_filtered_train = df_train[df_train['Haltestellenkurzname_from'].isin(common_stops)]
df_filtered_train = df_train[df_train['Haltestellenkurzname_to'].isin(common_stops)]
    #line names
df_filtered_train = df_train[df_train['Linienname'].isin(common_lines)]

#filter test dataset on...
    #stops
df_filtered_test = df_test[df_test['Haltestellenkurzname_from'].isin(common_stops)]
df_filtered_test = df_test[df_test['Haltestellenkurzname_to'].isin(common_stops)]
    #line names
df_filtered_test = df_test[df_test['Linienname'].isin(common_lines)]

## CONVERTING TIME TO BINS OF 30 MINUTES

In [49]:
def convert_time_to_bins(time):
    # Convert time to hours
    hour, minute, _ = map(int, time.split(':'))
    time_in_hours = hour + minute / 60
    
    # Calculate time modulo 24
    time_modulo_24 = time_in_hours % 24
    
    # Calculate bin index
    bin_index = int(time_modulo_24 * 2) / 2  # Round to nearest half-hour
    
    return bin_index
    
df_filtered_train["FZ_AB"]=df_filtered_train["FZ_AB"].apply(convert_time_to_bins)
df_filtered_test["FZ_AB"]=df_filtered_test["FZ_AB"].apply(convert_time_to_bins)

C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\4095238205.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_test["FZ_AB"]=df_filtered_test["FZ_AB"].apply(convert_time_to_bins)

## CONVERT TAG DAYS TO BOOLEAN VALUES, TO KNOW THE DAY TYPES

In [50]:
#convert the tag days to boolean values, to know which is the day type, this operation is similar to the result of a one-hot encoding

def division(n):
    return False if n == 0 else True

df_filtered_train['Tage_DWV']=df_filtered_train['Tage_DWV'].apply(division)
df_filtered_train['Tage_SA']=df_filtered_train['Tage_SA'].apply(division)
df_filtered_train['Tage_SO']=df_filtered_train['Tage_SO'].apply(division)
df_filtered_train['Tage_SA_N']=df_filtered_train['Tage_SA_N'].apply(division)
df_filtered_train['Tage_SO_N']=df_filtered_train['Tage_SO_N'].apply(division)
df_filtered_train

,Linienname,FZ_AB,Besetzung,Tage_DWV,Tage_SA,Tage_SO,Tage_SA_N,Tage_SO_N,Haltestellenkurzname_from,Haltestellenkurzname_to,VSYS
0,78,21.0,3.22000,True,False,False,False,False,GRUN,BALT,B
1,78,21.5,2.83636,True,False,False,False,False,GRUN,BALT,B
2,78,21.5,3.10417,True,False,False,False,False,GRUN,BALT,B
3,78,22.0,3.06897,True,False,False,False,False,GRUN,BALT,B
4,78,22.0,2.57143,True,False,False,False,False,GRUN,BALT,B
...,...,...,...,...,...,...,...,...,...,...,...
974678,25,22.0,4.86957,False,True,False,False,False,WDOL,BDOL,SB
974679,25,22.5,4.60000,False,True,False,False,False,WDOL,BDOL,SB
974680,25,22.5,4.08696,False,True,False,False,False,WDOL,BDOL,SB
974681,25,23.0,1.81818,False,True,False,False,False,WDOL,BDOL,SB
974682,25,23.5,2.25000,False,True,False,False,False,WDOL,BDOL,SB

In [51]:
#same of test set
df_filtered_test['Tage_DWV']=df_filtered_test['Tage_DWV'].apply(division)
df_filtered_test['Tage_SA']=df_filtered_test['Tage_SA'].apply(division)
df_filtered_test['Tage_SO']=df_filtered_test['Tage_SO'].apply(division)
df_filtered_test['Tage_SA_N']=df_filtered_test['Tage_SA_N'].apply(division)
df_filtered_test['Tage_SO_N']=df_filtered_test['Tage_SO_N'].apply(division)
df_filtered_test

C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\3078013300.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_test['Tage_DWV']=df_filtered_test['Tage_DWV'].apply(division)
C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\3078013300.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_test['Tage_SA']=df_filtered_test['Tage_SA'].apply(division)
C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\3078013300.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_test['Tage_SO']=df_filtered_test['Tage_SO'].apply(division)
C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\3078013300.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_test['Tage_SA_N']=df_filtered_test['Tage_SA_N'].apply(division)
C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\3078013300.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_test['Tage_SO_N']=df_filtered_test['Tage_SO_N'].apply(division)

,Linienname,FZ_AB,Besetzung,Tage_DWV,Tage_SA,Tage_SO,Tage_SA_N,Tage_SO_N,Haltestellenkurzname_from,Haltestellenkurzname_to,VSYS
0,15,9.5,0.44444,False,False,True,False,False,MIBU,HIRS,T
1,15,10.0,1.60000,False,False,True,False,False,MIBU,HIRS,T
2,15,5.0,0.50000,True,False,False,False,False,MIBU,HIRS,T
3,15,5.0,0.10000,True,False,False,False,False,MIBU,HIRS,T
4,15,5.5,0.50000,True,False,False,False,False,MIBU,HIRS,T
...,...,...,...,...,...,...,...,...,...,...,...
1149500,315,13.0,5.97826,True,False,False,False,False,KIND,EIHH,BL
1149501,315,12.0,11.05556,True,False,False,False,False,EIHH,KIND,BL
1149502,315,15.5,6.93182,True,False,False,False,False,EIHH,KIND,BL
1149503,315,16.5,4.26667,True,False,False,False,False,EIHH,KIND,BL
1149504,315,17.0,3.80000,True,False,False,False,False,EIHH,KIND,BL

## DUMMIFY LINENAME TO BOOLEAN VALUES

In [52]:
#convert LInename to numerical values
df_filtered_train = pd.get_dummies(df_filtered_train, columns=['Linienname'], prefix='Line')
df_filtered_train

,FZ_AB,Besetzung,Tage_DWV,Tage_SA,Tage_SO,Tage_SA_N,Tage_SO_N,Haltestellenkurzname_from,Haltestellenkurzname_to,VSYS,...,Line_743,Line_744,Line_745,Line_751,Line_753,Line_910,Line_912,Line_916,Line_918,Line_919
0,21.0,3.22000,True,False,False,False,False,GRUN,BALT,B,...,False,False,False,False,False,False,False,False,False,False
1,21.5,2.83636,True,False,False,False,False,GRUN,BALT,B,...,False,False,False,False,False,False,False,False,False,False
2,21.5,3.10417,True,False,False,False,False,GRUN,BALT,B,...,False,False,False,False,False,False,False,False,False,False
3,22.0,3.06897,True,False,False,False,False,GRUN,BALT,B,...,False,False,False,False,False,False,False,False,False,False
4,22.0,2.57143,True,False,False,False,False,GRUN,BALT,B,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974678,22.0,4.86957,False,True,False,False,False,WDOL,BDOL,SB,...,False,False,False,False,False,False,False,False,False,False
974679,22.5,4.60000,False,True,False,False,False,WDOL,BDOL,SB,...,False,False,False,False,False,False,False,False,False,False
974680,22.5,4.08696,False,True,False,False,False,WDOL,BDOL,SB,...,False,False,False,False,False,False,False,False,False,False
974681,23.0,1.81818,False,True,False,False,False,WDOL,BDOL,SB,...,False,False,False,False,False,False,False,False,False,False
974682,23.5,2.25000,False,True,False,False,False,WDOL,BDOL,SB,...,False,False,False,False,False,False,False,False,False,False

In [53]:
#now the same for test set
df_filtered_test = pd.get_dummies(df_filtered_test, columns=['Linienname'], prefix='Line')
df_filtered_test

,FZ_AB,Besetzung,Tage_DWV,Tage_SA,Tage_SO,Tage_SA_N,Tage_SO_N,Haltestellenkurzname_from,Haltestellenkurzname_to,VSYS,...,Line_743,Line_744,Line_745,Line_751,Line_753,Line_910,Line_912,Line_916,Line_918,Line_919
0,9.5,0.44444,False,False,True,False,False,MIBU,HIRS,T,...,False,False,False,False,False,False,False,False,False,False
1,10.0,1.60000,False,False,True,False,False,MIBU,HIRS,T,...,False,False,False,False,False,False,False,False,False,False
2,5.0,0.50000,True,False,False,False,False,MIBU,HIRS,T,...,False,False,False,False,False,False,False,False,False,False
3,5.0,0.10000,True,False,False,False,False,MIBU,HIRS,T,...,False,False,False,False,False,False,False,False,False,False
4,5.5,0.50000,True,False,False,False,False,MIBU,HIRS,T,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149500,13.0,5.97826,True,False,False,False,False,KIND,EIHH,BL,...,False,False,False,False,False,False,False,False,False,False
1149501,12.0,11.05556,True,False,False,False,False,EIHH,KIND,BL,...,False,False,False,False,False,False,False,False,False,False
1149502,15.5,6.93182,True,False,False,False,False,EIHH,KIND,BL,...,False,False,False,False,False,False,False,False,False,False
1149503,16.5,4.26667,True,False,False,False,False,EIHH,KIND,BL,...,False,False,False,False,False,False,False,False,False,False
1149504,17.0,3.80000,True,False,False,False,False,EIHH,KIND,BL,...,False,False,False,False,False,False,False,False,False,False

## ADD GEOLOGICAL COORDINATES TO HALTESTELLEN FROM AND HALTESTELLEN TO

#### RETRIEVING GPS COORDINATES FOR ALL STOPS

First we find all possible stops that are in both train and test datasets.

We use haltestellen-kurzname to reference to keep a better consistency across different years,
and we use haltestellen-langname specifically to look for the GPS coordinates.

In [54]:
set_stops_train = {(a, b) for a, b in zip(stops_train['Haltestellenkurzname'], stops_train['Haltestellenlangname'])}
set_stops_test = {(a, b) for a, b in zip(stops_test['Haltestellenkurzname'], stops_test['Haltestellenlangname'])}

In [55]:
stops_train_test=set_stops_train.union(set_stops_test)
df_stops_train_test=pd.DataFrame(stops_train_test, columns=["Haltestellenkurzname", "Haltestellenlangname"])

In [56]:
#import stops with coordinates
df_stops_with_coordinates=pd.read_csv("data/stops.csv")[["Haltestellenlangname","GPS_Latitude","GPS_Longitude"]]

In [57]:
df_all_stops=pd.merge(df_stops_train_test, df_stops_with_coordinates, on='Haltestellenlangname', how='left')

In [58]:
df_all_stops[df_all_stops["GPS_Latitude"].isna()]

,Haltestellenkurzname,Haltestellenlangname,GPS_Latitude,GPS_Longitude
8,WALBIR,"Waldegg, Birmensdorferstrasse",NaN,NaN
11,ZUMI99,Zumikon,NaN,NaN
12,KLAE07,"Kloten, Lägernstrasse",NaN,NaN
20,VBIR,"Villmergen, Birkenweg",NaN,NaN
23,BIRWSL,"Birmensdorf ZH, Sternen/WSL",NaN,NaN
...,...,...,...,...
795,WIDDOR,"Widen, Dorf",NaN,NaN
799,BERMAT,"Berikon, Mattenhof",NaN,NaN
800,BALD01,"Adliswil, Baldernstrasse",NaN,NaN
802,SVOR,"Sarmenstorf, Vorstadt",NaN,NaN
810,TITL,"Zürich, Titlisstrasse",NaN,NaN

In [59]:
#now find the latitude and longitude of those without, from stops.csv

In [60]:
# initialize Nominatim geocoder
geolocator = Photon(user_agent="geopy_project")

# function for rows that have null GPS coordinates
def geocoord_of(row):
    coordinates = geolocator.geocode(row["Haltestellenlangname"]+", Zurich")
    if coordinates is not None:
        print(row["Haltestellenlangname"]+": ",coordinates.latitude, coordinates.longitude)
        return coordinates.latitude, coordinates.longitude
    else:
        return None, None  # Return None values if geocoding fails

# apply the function only to rows where column GPS latitude (or longitude, whicever of the two) is NaN
df_all_stops[['GPS_Latitude', 'GPS_Longitude']] = df_all_stops.apply(lambda row: geocoord_of(row) if pd.isnull(row['GPS_Latitude']) else (row['GPS_Latitude'], row['GPS_Longitude']), axis=1, result_type='expand')

Waldegg, Birmensdorferstrasse:  47.3688877 8.4644298
Zumikon:  47.3324061 8.6238228
Kloten, Lägernstrasse:  47.4468522 8.5768629
Villmergen, Birkenweg:  47.3513653 8.2505702
Birmensdorf ZH, Sternen/WSL:  47.360094 8.456101
Oetwil a.d.L., Schweizäcker:  47.4245207 8.402553
Dietikon, Wasserburg:  47.3988505 8.4298643
Oberwil-Lieli, Dreispitz:  47.3372025 8.3866316
Wohlen AG, Freiämterhof:  47.349128 8.2639433
Villmergen, Feldblumenweg:  47.3496055 8.2470707
Waltikon:  47.3354762 8.6188248
Zürich, Zielweg:  47.3588812 8.4973394
Bremgarten AG, Bahnhof:  47.351740649999996 8.346632609937817
Zollikerberg, Sennhof:  47.3462027 8.6171916
Zürich, Stodolastrasse:  47.3572507 8.590993
Scheuren:  47.3225026 8.6606431
Wohlen AG, Coop:  47.3501784 8.2709925
Wohlen AG, Haldenschulen:  47.3506379 8.2801625
Zürich Flughafen, Werft:  47.4453771 8.5703427
Hilfikon, Sandbüel:  47.3318031 8.8643112
Kloten, Neubrunnenstrasse:  47.4452507 8.5761344
Zollikerberg, Station/Q treff:  47.3465737 8.6036099
Zufikon, Hammergut:  47.3554135 8.3536735
Zürich, Obere Hornhalde:  47.3315647 8.5381935
Kloten, Bramen:  47.4434432 8.5787059
Uitikon, Dorf:  47.3703972 8.4545428
Zürich, Rigiblick:  47.3269708 8.8324028
Zürich, Depot1 Zentralwerkst:  47.3929441 8.4960383
Zürich, Waldhaus Dolder:  47.3732569 8.5686173
Zürich, Löwenbräu:  47.388655 8.526282304743749
Wohlen AG, Migros:  47.3460031 8.2906737
Adliswil, Sunnau:  47.3266377 8.5296222
Bremgarten AG, West:  47.3514029 8.3465191
Zürich, Spyristeig:  47.3869698 8.5572896
Zürich, Trichtenhausenfussweg:  47.3536759 8.5996724
Kloten, Balsberg Hardacher:  47.4403914 8.5715817
Kilchberg ZH, Alterszentrum:  47.3198942 8.5407831
Bremgarten AG, Meyerhof:  47.3471049 8.3401913
Zufikon, Station:  47.3324061 8.6238228
Emmat:  47.2940807 8.7025197
Hinteregg:  47.3074289 8.6834648
Dietikon, Schöneggstrasse:  47.3973641 8.4212655
Berikon, Kirche:  47.270475 8.936761
Oetwil an der Limmat, Zentrum:  47.4277883 8.3941989
Sarmenstorf, Altersheim:  47.2542972 8.7703432
Zürich, Strickhof:  47.3953639 8.549735457540397
Zollikerberg, Trichtenhauserm.:  47.3505965 8.601827
Berikon, Kesslernmatt:  47.3648327 8.3653157
Bremgarten AG, Bibenlos:  47.353963 8.3501613
Zürich, Hertersteg:  47.3666319 8.5244536
Oberwil-Lieli, Englisächer:  47.3430396 8.4039273
Glattpark, Lindbergh-Allee:  47.4237407 8.5630298
Zürich, Hardturm:  47.3904153 8.510923678130677
Adliswil, Poststrasse:  47.3139206 8.5229783
Zürich, Krönleinstrasse:  47.3826648 8.5602044
Villmergen, Zentrum:  47.3739351 8.551061422763539
Zürich, Segeten:  47.3553542 8.5929858
Urdorf, Urdorf-Nord:  47.393475 8.4178342
Sarmenstorf, Schulhaus:  47.3610472 8.5314
Berikon, Kreisschule:  47.270475 8.936761
Dietikon, Stoffelbach:  47.3948235 8.3976934
Zürich, Letzibach:  47.39004344999999 8.493187903364442
Esslingen:  47.28919 8.7096296
Spreitenbach, IKEA:  47.4073309 8.3859492
Binz bei Maur, Gassacher:  47.3572101 8.6279409
Widen, Heinrüti:  47.361362 8.3538561
Glattpark, Lindberghplatz:  47.4250631 8.5603476
Wohlen AG, Bahnhof:  47.3477099 8.2711437
Wohlen AG, Bünzstrasse:  47.3512057 8.2750148
Zürich, Flobotstrasse:  47.3796814 8.569329
Zürich, Riedbach:  47.414744 8.5594243
Zürich, Friedhof Uetliberg:  47.3587639 8.5006138
Reppischhof, Station:  47.3823005 8.3952719
Dietikon, Bergfrieden:  47.3969554 8.3984875
Langwies ZH:  47.6558745 8.6537748
Adliswil, Schulhaus Kopfholz:  47.3086685 8.5351369
Oetwil an der Limmat, Gässliacker:  47.4279122 8.394719
Spreitenbach, Raiacker:  47.4140179 8.3751535
Maiacher:  47.3296147 8.6304618
Glattpark, Chavez-Allee:  47.4222639 8.5616101
Zürich, Sädlenweg:  47.3670801 8.4890055
Rudolfstetten, Station:  47.38282055 8.50373866657526
Kilchberg ZH, Neuweid:  47.3156002 8.5398319
Dübendorf, Alterszentrum:  47.387957 8.6201571
Zürich, Kindersp. (ab 10/2024):  47.3940517 8.534611951333504
Waldegg, Post:  47.3683361 8.4622544
Zürich, Germaniastrasse:  47.3875473 8.5537701
Kilchberg ZH, Lätten:  47.3266724 8.5347483
Wädenswil, Garage Rütihof:  47.2381582 8.6351814
Zürich, Heubeeriweg:  47.3826221 8.5655871
Spreitenbach, Glattler:  47.4221728 8.3622187
Zürich, Friesenberghalde:  47.3615598 8.5015099
Neuhaus bei Hinteregg:  47.3127233 8.6741608
Birmensdorf ZH, Bahnhof Süd:  47.35776 8.43649
Sarmenstorf, Kirche:  47.3138241 8.2522311
Zürich, Hermetschloo:  47.39467 8.4734385
Adliswil, Rifertstrasse:  47.3097946 8.5343439
Zollikon, Rotfluhstrasse:  47.3376964 8.5768857
Zürich, Kantonalbank:  47.3679686 8.5391319
Kloten, Waldeggweg:  47.4419715 8.577384
Adliswil, Wanneten-/Haldenstr.:  47.3057179 8.5222862
Birmensdorf ZH, Obere Risi:  47.3594478 8.4507624
Zollikon, Niederhofenrain:  47.3480586 8.576776
Zürich, Schäppiweg:  47.3898532 8.5495662
Oberwil-Lieli, Im Moos:  47.3376509 8.3985357
Rudolfstetten, Hofacker:  47.3661732 8.3779711
Birmensdorf ZH, Bahnhof:  47.35776 8.43649
Egg:  47.2990667 8.6884584
Forch, Depot Forchbahn:  47.3256184 8.6486223
Zollikerberg:  47.3456637 8.5993998
Zürich, Zentrum Witikon:  47.3584165 8.5865222
Zürich, Bahnhof Wollishofen:  47.3468565 8.5329137
Adliswil, Zopf:  47.3175281 8.5161903
Waldegg, Leuen:  47.3630711 8.4590962
Adliswil, Feldblumenstrasse:  47.3207245 8.512521
Villmergen, Oberdorf:  47.3451978 8.2444282
Zürich, Wiesliacher:  47.3541369 8.5988645
Spital Zollikerberg:  47.3482758 8.5959678
Zürich, Buchholz:  47.3590809 8.7265975
Bremgarten AG, Obertorplatz:  47.3509039 8.3436426
Dietikon, Zentrum:  47.40864445 8.462370378565646
Hilfikon, Dorf:  47.3335281 8.2465462
Zürich, Buchzelgstrasse:  47.3600811 8.5903307
Zollikerberg, Hasenbart:  47.349264 8.5951434
Zollikerberg, Spital:  47.3482758 8.5959678
Bremgarten AG, Kaserne:  47.3514029 8.3465191
Forch:  47.3255509 8.6468061
Zürich, Balgrist Ost:  47.3547172 8.5750731
Oberwil-Lieli, Bündtenmättli:  47.3384961 8.3825922
Bremgarten AG, Waage:  47.3514029 8.3465191
Waldburg:  47.3471946 8.5943953
Zürich, Leutschenpark:  47.418086450000004 8.556198095537749
Schlieren, Geissweid:  47.3977136 8.4443897
Berikon-Widen, Bahnhof:  47.3620655 8.3672168
Glattbrugg, Riethofstrasse:  47.4373634 8.5661666
Zürich, Wollishoferplatz:  47.338561350000006 8.530466672410563
Zürich, Depot Dolderbahn:  19.4493084 -99.201634
Zürich, Klinik Hirslanden:  47.3510846 8.5768502
Adliswil, Bodenacker:  47.316227 8.5168594
Birmensdorf ZH, Untere Risi:  47.3598193 8.4469522
Zürich, Schanzackerstrasse:  47.3901534 8.5472627
Glattpark, Wright-Strasse:  47.4203399 8.5589456
Zürich, Langensteinenstrasse:  47.3935409 8.5475042
Dübendorf, Am Ring:  47.4020328 8.6074914
Zürich, Bhf. Wollishofen/Werft:  47.348167 8.5343455
Berikon, Stalden:  47.3502793 8.3741621
Bremgarten AG, Stockweier:  47.3514029 8.3465191
Adliswil, Landolt-Junker-Str.:  47.3035354 8.5186553
Adliswil, Büchel:  47.3001035 8.5205602
Adliswil, Dietlimoos:  47.3194409 8.5328455
Neue Forch:  47.3255601 8.6402029
Zürich, Trichtisal:  47.3546959 8.6029297
Oberwil-Lieli, Lieli Dorf:  47.3357884 8.3866115
Widen, Dorf:  47.2316942 8.5974962
Berikon, Mattenhof:  47.3433143 8.3819697
Adliswil, Baldernstrasse:  47.3211606 8.5154114
Sarmenstorf, Vorstadt:  47.3157902 8.2451872
Zürich, Titlisstrasse:  47.3693685 8.5646167

In [21]:
#finding stops which the process of fetching geological coordinates failed

In [61]:
df_all_stops[df_all_stops["GPS_Latitude"].isna() ]

,Haltestellenkurzname,Haltestellenlangname,GPS_Latitude,GPS_Longitude
52,ENGEPAU,"Zürich, Bhf Enge Pausenplatz",NaN,NaN
169,BWST,"Zch, Bhf.Wollishofen/Staubstr.",NaN,NaN

In [62]:
#we discovered that the stop "Zürich, Bhf Enge Pausenplatz" was never referenced in the Reisende.csv table in both 2022 and 2023
#so we remove it
df_all_stops.drop(52, inplace=True)

In [63]:

df_all_stops[df_all_stops["GPS_Latitude"].isna() ]

,Haltestellenkurzname,Haltestellenlangname,GPS_Latitude,GPS_Longitude
169,BWST,"Zch, Bhf.Wollishofen/Staubstr.",NaN,NaN

In [64]:
#now manually insert the coordinates of "Zch, Bhf.Wollishofen/Staubstr", with coordinates 47.34703438638321, 8.532916780705717
df_all_stops.at[169, 'GPS_Latitude'] = 47.34703438638321
df_all_stops.at[169, 'GPS_Longitude'] = 8.532916780705717

In [65]:
#verify that there is no non values left in geological coordinates
df_all_stops[df_all_stops["GPS_Latitude"].isna() ]

Empty DataFrame
Columns: [Haltestellenkurzname, Haltestellenlangname, GPS_Latitude, GPS_Longitude]
Index: []

In [66]:
#now we can drop the columns Haltestellenlangname from the df_all_stops table
df_all_stops.drop(columns=["Haltestellenlangname"],inplace=True)

#### ADDING GPS COORDINATES TO THE DATASETS

In [67]:
#now we can merge the reisende table (df_filtered_train and df_filtered_test) with df_all_Stops, to get all the coordinates.
df_filtered_train_ready = pd.merge(df_filtered_train, df_all_stops, left_on='Haltestellenkurzname_from', right_on='Haltestellenkurzname')
df_filtered_train_ready.rename(columns={'GPS_Latitude': 'GPS_Latitude_From', 'GPS_Longitude': 'GPS_Longitude_From'}, inplace=True)
df_filtered_train_ready = pd.merge(df_filtered_train_ready, df_all_stops, left_on='Haltestellenkurzname_to', right_on='Haltestellenkurzname')
df_filtered_train_ready.rename(columns={'GPS_Latitude': 'GPS_Latitude_To', 'GPS_Longitude': 'GPS_Longitude_To'}, inplace=True)

In [68]:
df_filtered_train_ready.drop(columns=['Haltestellenkurzname_from'], inplace=True)
df_filtered_train_ready.drop(columns=['Haltestellenkurzname_to'], inplace=True)
df_filtered_train_ready.drop(columns=['Haltestellenkurzname_x'], inplace=True)
df_filtered_train_ready.drop(columns=['Haltestellenkurzname_y'], inplace=True)

In [69]:
df_filtered_train_ready

,FZ_AB,Besetzung,Tage_DWV,Tage_SA,Tage_SO,Tage_SA_N,Tage_SO_N,VSYS,Line_2,Line_3,...,Line_753,Line_910,Line_912,Line_916,Line_918,Line_919,GPS_Latitude_From,GPS_Longitude_From,GPS_Latitude_To,GPS_Longitude_To
0,21.0,3.22000,True,False,False,False,False,B,False,False,...,False,False,False,False,False,False,47.394903,8.489476,47.390838,8.488814
1,21.5,2.83636,True,False,False,False,False,B,False,False,...,False,False,False,False,False,False,47.394903,8.489476,47.390838,8.488814
2,21.5,3.10417,True,False,False,False,False,B,False,False,...,False,False,False,False,False,False,47.394903,8.489476,47.390838,8.488814
3,22.0,3.06897,True,False,False,False,False,B,False,False,...,False,False,False,False,False,False,47.394903,8.489476,47.390838,8.488814
4,22.0,2.57143,True,False,False,False,False,B,False,False,...,False,False,False,False,False,False,47.394903,8.489476,47.390838,8.488814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972919,22.0,4.86957,False,True,False,False,False,SB,False,False,...,False,False,False,False,False,False,47.373257,8.568617,47.373789,8.576132
972920,22.5,4.60000,False,True,False,False,False,SB,False,False,...,False,False,False,False,False,False,47.373257,8.568617,47.373789,8.576132
972921,22.5,4.08696,False,True,False,False,False,SB,False,False,...,False,False,False,False,False,False,47.373257,8.568617,47.373789,8.576132
972922,23.0,1.81818,False,True,False,False,False,SB,False,False,...,False,False,False,False,False,False,47.373257,8.568617,47.373789,8.576132
972923,23.5,2.25000,False,True,False,False,False,SB,False,False,...,False,False,False,False,False,False,47.373257,8.568617,47.373789,8.576132

In [70]:
# #now do the same with test data

# #now we can merge the reisende table (df_filtered_train and df_filtered_test) with df_all_Stops, to get all the coordinates.
df_filtered_test_ready = pd.merge(df_filtered_test, df_all_stops, left_on='Haltestellenkurzname_from', right_on='Haltestellenkurzname')
df_filtered_test_ready.rename(columns={'GPS_Latitude': 'GPS_Latitude_From', 'GPS_Longitude': 'GPS_Longitude_From'}, inplace=True)
df_filtered_test_ready = pd.merge(df_filtered_test_ready, df_all_stops, left_on='Haltestellenkurzname_to', right_on='Haltestellenkurzname')
df_filtered_test_ready.rename(columns={'GPS_Latitude': 'GPS_Latitude_To', 'GPS_Longitude': 'GPS_Longitude_To'}, inplace=True)

df_filtered_test_ready.drop(columns=['Haltestellenkurzname_from'], inplace=True)
df_filtered_test_ready.drop(columns=['Haltestellenkurzname_to'], inplace=True)
df_filtered_test_ready.drop(columns=['Haltestellenkurzname_x'], inplace=True)
df_filtered_test_ready.drop(columns=['Haltestellenkurzname_y'], inplace=True)

df_filtered_test_ready

,FZ_AB,Besetzung,Tage_DWV,Tage_SA,Tage_SO,Tage_SA_N,Tage_SO_N,VSYS,Line_2,Line_3,...,Line_753,Line_910,Line_912,Line_916,Line_918,Line_919,GPS_Latitude_From,GPS_Longitude_From,GPS_Latitude_To,GPS_Longitude_To
0,9.5,0.44444,False,False,True,False,False,T,False,False,...,False,False,False,False,False,False,47.397778,8.541750,47.400252,8.543470
1,10.0,1.60000,False,False,True,False,False,T,False,False,...,False,False,False,False,False,False,47.397778,8.541750,47.400252,8.543470
2,5.0,0.50000,True,False,False,False,False,T,False,False,...,False,False,False,False,False,False,47.397778,8.541750,47.400252,8.543470
3,5.0,0.10000,True,False,False,False,False,T,False,False,...,False,False,False,False,False,False,47.397778,8.541750,47.400252,8.543470
4,5.5,0.50000,True,False,False,False,False,T,False,False,...,False,False,False,False,False,False,47.397778,8.541750,47.400252,8.543470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140354,15.5,4.06250,False,True,False,False,False,BP,False,False,...,False,False,False,False,True,False,47.311703,8.588525,47.313352,8.588639
1140355,16.0,4.50000,False,True,False,False,False,BP,False,False,...,False,False,False,False,True,False,47.311703,8.588525,47.313352,8.588639
1140356,16.5,3.41176,False,True,False,False,False,BP,False,False,...,False,False,False,False,True,False,47.311703,8.588525,47.313352,8.588639
1140357,17.0,2.88235,False,True,False,False,False,BP,False,False,...,False,False,False,False,True,False,47.311703,8.588525,47.313352,8.588639
1140358,17.5,3.88889,False,True,False,False,False,BP,False,False,...,False,False,False,False,True,False,47.311703,8.588525,47.313352,8.588639

In [71]:
df_filtered_train_ready.to_csv("2022_training.csv", sep=';', encoding='utf-8')
df_filtered_test_ready.to_csv("2023_testing.csv", sep=';', encoding='utf-8')

In [72]:
df_filtered_train_ready[['FZ_AB','Besetzung','Tage_DWV','VSYS','GPS_Latitude_From','GPS_Longitude_From','Line_2','Line_3','Line_753','Line_910','Line_912','Line_916','Line_918','Line_919']]

,FZ_AB,Besetzung,Tage_DWV,VSYS,GPS_Latitude_From,GPS_Longitude_From,Line_2,Line_3,Line_753,Line_910,Line_912,Line_916,Line_918,Line_919
0,21.0,3.22000,True,B,47.394903,8.489476,False,False,False,False,False,False,False,False
1,21.5,2.83636,True,B,47.394903,8.489476,False,False,False,False,False,False,False,False
2,21.5,3.10417,True,B,47.394903,8.489476,False,False,False,False,False,False,False,False
3,22.0,3.06897,True,B,47.394903,8.489476,False,False,False,False,False,False,False,False
4,22.0,2.57143,True,B,47.394903,8.489476,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972919,22.0,4.86957,False,SB,47.373257,8.568617,False,False,False,False,False,False,False,False
972920,22.5,4.60000,False,SB,47.373257,8.568617,False,False,False,False,False,False,False,False
972921,22.5,4.08696,False,SB,47.373257,8.568617,False,False,False,False,False,False,False,False
972922,23.0,1.81818,False,SB,47.373257,8.568617,False,False,False,False,False,False,False,False
972923,23.5,2.25000,False,SB,47.373257,8.568617,False,False,False,False,False,False,False,False

In [73]:
print(df_filtered_train_ready.columns)

Index(['FZ_AB', 'Besetzung', 'Tage_DWV', 'Tage_SA', 'Tage_SO', 'Tage_SA_N',
       'Tage_SO_N', 'VSYS', 'Line_2', 'Line_3',
       ...
       'Line_753', 'Line_910', 'Line_912', 'Line_916', 'Line_918', 'Line_919',
       'GPS_Latitude_From', 'GPS_Longitude_From', 'GPS_Latitude_To',
       'GPS_Longitude_To'],
      dtype='object', length=119)

## NORMALIZING AND INITIAL TESTING WITH LINEAR REGRESSION

In [74]:
trainset=df_filtered_train_ready
testset=df_filtered_test_ready

# Too large (particularly for svr), keep only tram
trainset = trainset[trainset['VSYS'] == 'T']
testset = testset[testset['VSYS'] ==  'T']

In [75]:
trainset.dropna(subset=trainset.columns.values, inplace=True)
testset.dropna(subset=testset.columns.values, inplace=True)

C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\2697619568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainset.dropna(subset=trainset.columns.values, inplace=True)
C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\2697619568.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testset.dropna(subset=testset.columns.values, inplace=True)

In [76]:
trainset.drop(columns=['Line_303','Line_308','Line_311','Line_331'], axis=1, inplace=True)
testset.drop(columns=['Line_332'], axis=1, inplace=True)

C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\625823002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainset.drop(columns=['Line_303','Line_308','Line_311','Line_331'], axis=1, inplace=True)
C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\625823002.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testset.drop(columns=['Line_332'], axis=1, inplace=True)

In [77]:
scaler = StandardScaler()
columns_to_normalize = ['FZ_AB', 'GPS_Latitude_From', 'GPS_Latitude_To', 'GPS_Longitude_From', 'GPS_Longitude_To', 'Besetzung' ]
scaler.fit(trainset[columns_to_normalize])

# Transform both training and test sets
trainset[columns_to_normalize] = scaler.transform(trainset[columns_to_normalize])
testset[columns_to_normalize] = scaler.transform(testset[columns_to_normalize])

C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\3741256183.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainset[columns_to_normalize] = scaler.transform(trainset[columns_to_normalize])
C:\Users\TUF\AppData\Local\Temp\ipykernel_20184\3741256183.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testset[columns_to_normalize] = scaler.transform(testset[columns_to_normalize])

In [78]:
X_train = trainset.drop(columns=['VSYS', 'Besetzung'])
y_train = trainset['Besetzung']
X_test = testset.drop(columns=['VSYS', 'Besetzung'])
y_test = testset['Besetzung']
X_train.head()

,FZ_AB,Tage_DWV,Tage_SA,Tage_SO,Tage_SA_N,Tage_SO_N,Line_2,Line_3,Line_4,Line_5,...,Line_753,Line_910,Line_912,Line_916,Line_918,Line_919,GPS_Latitude_From,GPS_Longitude_From,GPS_Latitude_To,GPS_Longitude_To
7288,0.825894,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,0.720755,-1.979474,0.790881,-2.115646
7289,0.825894,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,0.720755,-1.979474,0.790881,-2.115646
7290,0.915639,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,0.720755,-1.979474,0.790881,-2.115646
7291,0.915639,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,0.720755,-1.979474,0.790881,-2.115646
7292,0.646403,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,0.720755,-1.979474,0.790881,-2.115646

In [79]:
# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Calculate errors
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mape = np.mean(np.abs((y_test - y_pred) / y_test)) * 100

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"MAPE: {mape}%")

MAE: 0.8134882894111866
MSE: 1.1619050458174205
MAPE: 242.25472578631044%